// colors
$black: #101010;
$lightBlack: #1E1E1E;
$white: white;
$lightgrey: lightgrey;
$lightblue: #009CFF;
$pink: #D35CAD;
// altezze e largheeze
$larghezzaDesktop: 1200px;
$h100: 100px;
$h45: 45px;
$h55: 55px;

// padding e margin
$p10: 10px;
$p20: 20px;
